%h1= @post.title
%p= simple_format(@post.body)

%h2= pluralize(@post.comments.count, "comment")
= render @post.comments
%h3 Add a comment:
= render 'comments/form'

%p
  = link_to "Edit", edit_post_path(@post)
  |
  = link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}
  |
  = link_to "Back", root_path